In [ ]:
import sqlite3

# Connect to SQLite database (creates a new file if it doesn't exist)
connection = sqlite3.connect('ecommerce.db')  # Replace 'ecommerce.db' with your desired database name

cursor = connection.cursor()

# List of CREATE TABLE statements
sql_statements = [
    """
    CREATE TABLE Users (
        UserID INTEGER PRIMARY KEY AUTOINCREMENT,
        Name TEXT NOT NULL,
        Email TEXT UNIQUE NOT NULL,
        PasswordHash TEXT NOT NULL,
        Preferences TEXT,
        SizeDetails TEXT
    )
    """,
    """
    CREATE TABLE Vendors (
        VendorID INTEGER PRIMARY KEY AUTOINCREMENT,
        Name TEXT NOT NULL,
        Location TEXT,
        ContactEmail TEXT
    )
    """,
    """
    CREATE TABLE Products (
        ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
        VendorID INTEGER,
        Name TEXT NOT NULL,
        Category TEXT,
        SizeOptions TEXT,
        Price REAL,
        Stock INTEGER,
        FOREIGN KEY (VendorID) REFERENCES Vendors(VendorID)
    )
    """,
    """
    CREATE TABLE Orders (
        OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
        UserID INTEGER,
        OrderDate DATE,
        Status TEXT,
        TotalAmount REAL,
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
    )
    """,
    """
    CREATE TABLE OrderDetails (
        OrderDetailID INTEGER PRIMARY KEY AUTOINCREMENT,
        OrderID INTEGER,
        ProductID INTEGER,
        Quantity INTEGER,
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
        FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
    )
    """,
    """
    CREATE TABLE StylingSuggestions (
        SuggestionID INTEGER PRIMARY KEY AUTOINCREMENT,
        UserID INTEGER,
        ProductIDs TEXT,
        EventDetails TEXT,
        CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
    )
    """
]

# Execute each statement
for statement in sql_statements:
    cursor.execute(statement)

# Commit changes and close connection
connection.commit()
connection.close()

print("Tables created successfully!")

Tables created successfully!

In [ ]:
## example of code to test schema
import sqlite3

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Query to list all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

conn.close()

Tables in the database: []